* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #111;

    background: linear-gradient(
        120deg,
        #d1d1d1,
        #696969,
        #dcdcdc,
        #696969
    );
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #a7a7a7;
}

.hero {
    background: url('images/hero-banner.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.8rem 2rem;
    background: #303030;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 5rem 5%;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
